https://new.dp-toy.com/?all=1&pagetype=newitem&siteid=268
<div class="team-show-up extra round-corner list-x">
    <span class="title">熱門推薦</span>
    <ul class="content" style="width: max-content;">
        <li class="item round-corner">
            <ul class="list-y" data-team-id="73001" data-min-number="1" data-max-number="10" data-name="溜池｜櫻洛 LIUCHI 魅惑の妖狐 解禁少女初食飛機杯 - 680g" data-category="6小時速達專區(雙北)" data-price="1100.00">
                <li class="img" style="position: relative;">
                    <a title="溜池｜櫻洛 LIUCHI 魅惑の妖狐 解禁少女初食飛機杯 - 680g" data-team-id="73001" data-name="溜池｜櫻洛 LIUCHI 魅惑の妖狐 解禁少女初食飛機杯 - 680g" data-price="1100.00" data-category="" href="https://new.dp-toy.com/team.php?id=73001">
                        <img src="https://new.dp-toy.com/static/team/uploadpic/123-517331/123-517331_mobile.jpg" alt="溜池｜櫻洛 LIUCHI 魅惑の妖狐 解禁少女初食飛機杯 - 680g" style="max-width: 100%;max-height: 100%;">
                    </a>
                    <div class="img_pic_stamp_ssus">熱門</div>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=73001" title="溜池｜櫻洛 LIUCHI 魅惑の妖狐 解禁少女初食飛機杯 - 680g">溜池｜櫻洛 LIUCHI 魅惑の妖狐 解禁少女初食飛機杯 - 680g</a>
    </small>
                </li>
                <li class="price">
                    <small>
        
    <del>$1980</del>
    <span class="right">網站價
    <b style="color: red;">$1012</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="70012" data-min-number="1" data-max-number="10" data-name="Toys Heart｜展望欲情 自慰套 - 382g" data-category="中型自慰套 3-800g" data-price="1200.00">
                <li class="img" style="position: relative;">
                    <a title="Toys Heart｜展望欲情 自慰套 - 382g" data-team-id="70012" data-name="Toys Heart｜展望欲情 自慰套 - 382g" data-price="1200.00" data-category="" href="https://new.dp-toy.com/team.php?id=70012">
                        <img src="https://new.dp-toy.com/static/team/uploadpic//1617796411_mobile.jpg" alt="Toys Heart｜展望欲情 自慰套 - 382g" style="max-width: 100%;max-height: 100%;">
                    </a>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=70012" title="Toys Heart｜展望欲情 自慰套 - 382g">Toys Heart｜展望欲情 自慰套 - 382g</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$1280</del>
    <span class="right">網站價
    <b style="color: red;">$1104</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="69543" data-min-number="1" data-max-number="10" data-name="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 菊千代 自慰套 - 190g" data-category="熱門情趣用品-店長推薦專區" data-price="980.00">
                <li class="img" style="position: relative;">
                    <a title="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 菊千代 自慰套 - 190g" data-team-id="69543" data-name="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 菊千代 自慰套 - 190g" data-price="980.00" data-category="" href="https://new.dp-toy.com/team.php?id=69543">
                        <img src="https://new.dp-toy.com/static/team/uploadpic//1616047590_mobile.jpg" alt="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 菊千代 自慰套 - 190g" style="max-width: 100%;max-height: 100%;">
                    </a>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=69543" title="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 菊千代 自慰套 - 190g">Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 菊千代 自慰套 - 190g</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$1020</del>
    <span class="right">網站價
    <b style="color: red;">$901</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="69532" data-min-number="1" data-max-number="10" data-name="Otouch｜Moko Moko 喵系列 貓耳跳蛋" data-category="電動跳蛋" data-price="1280.00">
                <li class="img" style="position: relative;">
                    <a title="Otouch｜Moko Moko 喵系列 貓耳跳蛋" data-team-id="69532" data-name="Otouch｜Moko Moko 喵系列 貓耳跳蛋" data-price="1280.00" data-category="" href="https://new.dp-toy.com/team.php?id=69532">
                        <img src="https://new.dp-toy.com/static/team/uploadpic/69532/1615269253_mobile.jpg" alt="Otouch｜Moko Moko 喵系列 貓耳跳蛋" style="max-width: 100%;max-height: 100%;">
                    </a>
                    <div class="img_pic_stamp_ssus">熱門</div>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=69532" title="Otouch｜Moko Moko 喵系列 貓耳跳蛋">Otouch｜Moko Moko 喵系列 貓耳跳蛋</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$2380</del>
    <span class="right">網站價
    <b style="color: red;">$1177</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="69229" data-min-number="1" data-max-number="10" data-name="Akumatoys｜ 紫苑之花 萌貓娘自慰套 - 900g" data-category="6小時速達專區(雙北)" data-price="1099.00">
                <li class="img" style="position: relative;">
                    <a title="Akumatoys｜ 紫苑之花 萌貓娘自慰套 - 900g" data-team-id="69229" data-name="Akumatoys｜ 紫苑之花 萌貓娘自慰套 - 900g" data-price="1099.00" data-category="" href="https://new.dp-toy.com/team.php?id=69229">
                        <img src="https://new.dp-toy.com/static/team/uploadpic/69229/1608886761_mobile.jpg" alt="Akumatoys｜ 紫苑之花 萌貓娘自慰套 - 900g" style="max-width: 100%;max-height: 100%;">
                    </a>
                    <div class="img_pic_stamp_ssus">熱門</div>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=69229" title="Akumatoys｜ 紫苑之花 萌貓娘自慰套 - 900g">Akumatoys｜ 紫苑之花 萌貓娘自慰套 - 900g</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$1300</del>
    <span class="right">網站價
    <b style="color: red;">$1011</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="68744" data-min-number="1" data-max-number="10" data-name="人中汁龍 ｜台灣製造 人中汁龍 活力噴劑 極久液" data-category="熱門情趣用品-店長推薦專區" data-price="950.00">
                <li class="img" style="position: relative;">
                    <a title="人中汁龍 ｜台灣製造 人中汁龍 活力噴劑 極久液" data-team-id="68744" data-name="人中汁龍 ｜台灣製造 人中汁龍 活力噴劑 極久液" data-price="950.00" data-category="" href="https://new.dp-toy.com/team.php?id=68744">
                        <img src="https://new.dp-toy.com/static/team/uploadpic/68744/1607410364_mobile.jpg" alt="人中汁龍 ｜台灣製造 人中汁龍 活力噴劑 極久液" style="max-width: 100%;max-height: 100%;">
                    </a>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=68744" title="人中汁龍 ｜台灣製造 人中汁龍 活力噴劑 極久液">人中汁龍 ｜台灣製造 人中汁龍 活力噴劑 極久液</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$1480</del>
    <span class="right">網站價
    <b style="color: red;">$874</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="68883" data-min-number="1" data-max-number="10" data-name="Toys Heart｜溫泉欲情2 入浴美女的 活色生香 自慰套 - 420g" data-category="中型自慰套 3-800g" data-price="1380.00">
                <li class="img" style="position: relative;">
                    <a title="Toys Heart｜溫泉欲情2 入浴美女的 活色生香 自慰套 - 420g" data-team-id="68883" data-name="Toys Heart｜溫泉欲情2 入浴美女的 活色生香 自慰套 - 420g" data-price="1380.00" data-category="" href="https://new.dp-toy.com/team.php?id=68883">
                        <img src="https://new.dp-toy.com/static/team/uploadpic/65-013706/65-013706_mobile.jpg" alt="Toys Heart｜溫泉欲情2 入浴美女的 活色生香 自慰套 - 420g" style="max-width: 100%;max-height: 100%;">
                    </a>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=68883" title="Toys Heart｜溫泉欲情2 入浴美女的 活色生香 自慰套 - 420g">Toys Heart｜溫泉欲情2 入浴美女的 活色生香 自慰套 - 420g</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$2480</del>
    <span class="right">網站價
    <b style="color: red;">$1269</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="67744" data-min-number="1" data-max-number="10" data-name="Ride Japan｜終極 天下一穴 剛柔二層變化 名器自慰套 - 390g" data-category="中型自慰套 3-800g" data-price="990.00">
                <li class="img" style="position: relative;">
                    <a title="Ride Japan｜終極 天下一穴 剛柔二層變化 名器自慰套 - 390g" data-team-id="67744" data-name="Ride Japan｜終極 天下一穴 剛柔二層變化 名器自慰套 - 390g" data-price="990.00" data-category="" href="https://new.dp-toy.com/team.php?id=67744">
                        <img src="https://new.dp-toy.com/static/team/uploadpic//1581654769_mobile.jpg" alt="Ride Japan｜終極 天下一穴 剛柔二層變化 名器自慰套 - 390g" style="max-width: 100%;max-height: 100%;">
                    </a>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=67744" title="Ride Japan｜終極 天下一穴 剛柔二層變化 名器自慰套 - 390g">Ride Japan｜終極 天下一穴 剛柔二層變化 名器自慰套 - 390g</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$1850</del>
    <span class="right">網站價
    <b style="color: red;">$910</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="68930" data-min-number="1" data-max-number="10" data-name="Ride Japan｜天下一穴 第四代 彈跳觸感之章 自慰套 - 400g" data-category="中型自慰套 3-800g" data-price="990.00">
                <li class="img" style="position: relative;">
                    <a title="Ride Japan｜天下一穴 第四代 彈跳觸感之章 自慰套 - 400g" data-team-id="68930" data-name="Ride Japan｜天下一穴 第四代 彈跳觸感之章 自慰套 - 400g" data-price="990.00" data-category="" href="https://new.dp-toy.com/team.php?id=68930">
                        <img src="https://new.dp-toy.com/static/team/uploadpic//1601963307_mobile.jpg" alt="Ride Japan｜天下一穴 第四代 彈跳觸感之章 自慰套 - 400g" style="max-width: 100%;max-height: 100%;">
                    </a>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=68930" title="Ride Japan｜天下一穴 第四代 彈跳觸感之章 自慰套 - 400g">Ride Japan｜天下一穴 第四代 彈跳觸感之章 自慰套 - 400g</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$1100</del>
    <span class="right">網站價
    <b style="color: red;">$910</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="69052" data-min-number="1" data-max-number="10" data-name="溜池｜涼宮凌 慢玩型入門款 自慰套 - 780g" data-category="6小時速達專區(雙北)" data-price="1350.00">
                <li class="img" style="position: relative;">
                    <a title="溜池｜涼宮凌 慢玩型入門款 自慰套 - 780g" data-team-id="69052" data-name="溜池｜涼宮凌 慢玩型入門款 自慰套 - 780g" data-price="1350.00" data-category="" href="https://new.dp-toy.com/team.php?id=69052">
                        <img src="https://new.dp-toy.com/static/team/uploadpic/69052/1609988888_mobile.jpg" alt="溜池｜涼宮凌 慢玩型入門款 自慰套 - 780g" style="max-width: 100%;max-height: 100%;">
                    </a>
                    <div class="img_pic_stamp_ssus">熱銷</div>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=69052" title="溜池｜涼宮凌 慢玩型入門款 自慰套 - 780g">溜池｜涼宮凌 慢玩型入門款 自慰套 - 780g</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$2160</del>
    <span class="right">網站價
    <b style="color: red;">$1242</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="68038" data-min-number="1" data-max-number="10" data-name="Orgie｜葡萄牙 大麻籽油 刺激度爆表 刺激跳動高潮凝膠 - 15ml" data-category="◆ 葡萄牙 Orgie" data-price="769.00">
                <li class="img" style="position: relative;">
                    <a title="Orgie｜葡萄牙 大麻籽油 刺激度爆表 刺激跳動高潮凝膠 - 15ml" data-team-id="68038" data-name="Orgie｜葡萄牙 大麻籽油 刺激度爆表 刺激跳動高潮凝膠 - 15ml" data-price="769.00" data-category="" href="https://new.dp-toy.com/team.php?id=68038">
                        <img src="https://new.dp-toy.com/static/team/uploadpic/123-351393/123-351393_mobile.jpg" alt="Orgie｜葡萄牙 大麻籽油 刺激度爆表 刺激跳動高潮凝膠 - 15ml" style="max-width: 100%;max-height: 100%;">
                    </a>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=68038" title="Orgie｜葡萄牙 大麻籽油 刺激度爆表 刺激跳動高潮凝膠 - 15ml">Orgie｜葡萄牙 大麻籽油 刺激度爆表 刺激跳動高潮凝膠 - 15ml</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$2070</del>
    <span class="right">網站價
    <b>$769</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn cart" style="width: 8.5em;    height: 1.5em;">加入購物車</button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="69537" data-min-number="1" data-max-number="10" data-name="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 珀兒諾 自慰套 - 190g" data-category="小型自慰套 300g內" data-price="980.00">
                <li class="img" style="position: relative;">
                    <a title="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 珀兒諾 自慰套 - 190g" data-team-id="69537" data-name="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 珀兒諾 自慰套 - 190g" data-price="980.00" data-category="" href="https://new.dp-toy.com/team.php?id=69537">
                        <img src="https://new.dp-toy.com/static/team/uploadpic/69537/1615878703_mobile.jpg" alt="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 珀兒諾 自慰套 - 190g" style="max-width: 100%;max-height: 100%;">
                    </a>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=69537" title="Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 珀兒諾 自慰套 - 190g">Tamatoys｜ALICESOFT THE HOLE 多娜多娜 一起來幹壞事吧 珀兒諾 自慰套 - 190g</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$1020</del>
    <span class="right">網站價
    <b style="color: red;">$901</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn out_of_stock" style="width: 8.5em;    height: 1.5em;" onclick="return;"><small>缺貨中</small></button>
                </li>
            </ul>
        </li>
        <li class="item round-corner">
            <ul class="list-y" data-team-id="67670" data-min-number="1" data-max-number="10" data-name="Ride Japan｜強吸欲情 柔彈真空吸吮快感 自慰套 - 470g" data-category="◆ 日本 RIDE JAPAN" data-price="1020.00">
                <li class="img" style="position: relative;">
                    <a title="Ride Japan｜強吸欲情 柔彈真空吸吮快感 自慰套 - 470g" data-team-id="67670" data-name="Ride Japan｜強吸欲情 柔彈真空吸吮快感 自慰套 - 470g" data-price="1020.00" data-category="" href="https://new.dp-toy.com/team.php?id=67670">
                        <img src="https://new.dp-toy.com/static/team/uploadpic/65-511701/65-511701_mobile.jpg" alt="Ride Japan｜強吸欲情 柔彈真空吸吮快感 自慰套 - 470g" style="max-width: 100%;max-height: 100%;">
                    </a>
                </li>
                <li class="name">
                    <small>
    <a href="https://new.dp-toy.com/team.php?id=67670" title="Ride Japan｜強吸欲情 柔彈真空吸吮快感 自慰套 - 470g">Ride Japan｜強吸欲情 柔彈真空吸吮快感 自慰套 - 470g</a>
    </small>
                </li>
                <li class="price">
                    <small>
    <del>$1830</del>
    <span class="right">網站價
    <b style="color: red;">$938</b>
    </span>
    </small>
                </li>
                <li class="quickly">
                    <button class="round-corner btn out_of_stock" style="width: 8.5em;    height: 1.5em;" onclick="return;"><small>缺貨中</small></button>
                </li>
            </ul>
        </li>
    </ul>
    <button type="button" class="arrow-b-right slide-ctrl"></button>
    <button type="button" class="arrow-b-left slide-ctrl"></button>
</div>