<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>超级管理员</title>
    <link rel="shortcut icon" href="/resume-master/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet"  type="text/css" href="/resume-master/assets/css/typo.css">
    <link rel="stylesheet" type="text/css" href="/resume-master/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/resume-master/assets/css/index.css">

    <script>
        function loading() {
            document.getElementsByClassName('avatar')[0].style.display = 'block';
            document.getElementsByClassName('loading')[0].style.display = 'none';
        }
    </script>
</head>

<body>

    <header class="header"></header>

    <article class="container">

        <section class="main">
            <section class="work info-unit">
                <h2>
                    <i class="fa fa-user" aria-hidden="true"></i>基本信息</h2>
                <hr />
                <ul>
                    <li>
                        <label>个人信息：</label>
                        <span>文若 / 男 / 32岁</span>
                    </li>
                    <li>
                        <label>邮箱：</label>
                        <span>bostonzhang725@gmail.com</span>
                    </li>

                </ul>
            </section>
            <section class="work info-unit">
                <h2>
                    <i class="fa fa-code" aria-hidden="true"></i>技能点</h2>
                <hr />
                <ul>
                    <li>
                        nodejs,express,mongoDB,vue,react,react native,css3,html5
                    </li>
                    <li>
                        <label>开源项目：</label>  <a target="_blank" href="http://api.freescatv.com/">论坛</a>
                    </li>
                </ul>
            </section>
            <!-- 专业能力 -->
            <section class="work info-unit">
                <h2>
                    <i class="fa fa-pencil" aria-hidden="true"></i>职称</h2>
                <hr />
                <p> 
                    高级前端工程师
                </p>
                <p>
                   nodeJS高级爬虫工程师
                </p>
                <p>
                    全栈工程师
                </p>
            </section>

            <!-- 工作经历 -->

            <section class="project info-unit">
                <h2>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>工作经历</h2>
                <hr />
                <ul>
                    <li>
                        <h3>
                            <span>棒谷科技股份有限公司</span>
                            <time>2016.10-至今</time>
                        </h3>
                        <ul class="info-content">
                            <li><i class="fa fa-users" aria-hidden="true"></i>
                                [工作岗位]：高级前端工程师、nodeJS爬虫工师
                            </li>
                            <li>
                                <i class="fa fa-bars" aria-hidden="true"></i>
                                [贡献]<br />
                                <p>
                                    
                                    &emsp;&emsp;1、跨境电商后台管理系统开发 前端技术栈（git flow sourcetree vue reat.js）<br />
                                    &emsp;&emsp;2、跨境电子商城开发:前端技术栈 git flow sourcetree html5 css jquery vue）<br />
                                    &emsp;&emsp;&emsp;&emsp;PC:<a target="_blank" href="https://www.banggood.com/">https://www.banggood.com/</a><br />
                                    &emsp;&emsp;&emsp;&emsp;M:<a target="_blank" href="https://m.banggood.com/">https://m.banggood.com/</a><br />
                                    &emsp;&emsp;3、跨境服装商城开发:前端技术栈（git flow sourcetree html5 css jquery vue）<br />
                                    &emsp;&emsp;&emsp;&emsp;PC:<a target="_blank" href="https://www.newchic.com/">https://www.newchic.com/</a><br />
                                    &emsp;&emsp;&emsp;&emsp;M:<a target="_blank" href="https://m.newchic.com/">https://m.newchic.com/</a><br />
                                    &emsp;&emsp;4、文档管理系统架构规划及开发（node express mongoDB react）<br />
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h3>
                            <span>华臣天拓集团有限公司</span>
                            <time>2013.15-2016</time>
                        </h3>
                        <ul class="info-content">
                            <li><i class="fa fa-users" aria-hidden="true"></i>
                                [工作岗位]：php工程师
                            </li>
                            <li>
                                <i class="fa fa-bars" aria-hidden="true"></i>
                                [贡献]<br />
                                <p>
                                    
                                    &emsp;&emsp;1、金融产品web开发（php thinkphp svn html5 css3 jquery vue）<br />
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>

            <!-- 项目经验 -->
            <section class="project info-unit">
                <h2>
                    <i class="fa fa-terminal" aria-hidden="true"></i>项目经验</h2>
                <hr />
                <ul>
                    <li>
                        <h3>
                            <span>[项目1]<a href="https://www.banggood.com/" target="_blank"> 跨境商城后台管理系统搭建和维护</a></span>
                            <time>2018-2021</time>
                        </h3>
                        <ul class="info-content">
                            <li>技术栈：git flow sourcetree react vue</li>
                            <li>
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                <!-- [模块]用户管理、分类管理、商品管理、购物车管理、收货地址管理、订单管理
                                <br /> -->
                                <i class="fa fa-users" aria-hidden="true"></i>
                                [职责]前端开发
                                <br />
                                <i class="fa fa-bars" aria-hidden="true"></i>
                                [主要贡献]<br />
                                <p>
                                    &emsp;&emsp;旧版的管理系统重构<br />
                                </p>
    
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h3>
                            <span>[项目2]<a href="https://www.banggood.com/" target="_blank"> 跨境电子产品商城</a></span>
                            <time>2019-2021</time>
                        </h3>
                        <ul class="info-content">
                            <li>技术栈：git flow sourcetree html5 css jquery vue</li>
                            <li>
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                <!-- [模块]用户管理、分类管理、商品管理、购物车管理、收货地址管理、订单管理
                                <br /> -->
                                <i class="fa fa-users" aria-hidden="true"></i>
                                [职责]前端开发
                                <br />
                                <i class="fa fa-bars" aria-hidden="true"></i>
                                [主要贡献]<br />
                                <p>
                                    &emsp;&emsp;1、m端重构成单页<br />
                                </p>
                                <p> &emsp;&emsp;<a target="_blank" href="https://m.banggood.com/">https://m.banggood.com/</a></p>
                                <p>
                                    &emsp;&emsp;2、pc端用webpack重构<br />
                                </p>
                                <p> &emsp;&emsp;<a target="_blank" href="https://www.banggood.com/">https://www.banggood.com/</a></p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h3>
                            <span>[项目3]<a href="https://www.newchic.com/" target="_blank"> 跨境服装商城</a></span>
                            <time>2016-2020</time>
                        </h3>
                        <ul class="info-content">
                            <li>技术栈：git flow sourcetree html5 css jquery vue</li>
                            <li>
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                <!-- [模块]用户管理、分类管理、商品管理、购物车管理、收货地址管理、订单管理
                                <br /> -->
                                <i class="fa fa-users" aria-hidden="true"></i>
                                [职责]前端开发
                                <br />
                                <i class="fa fa-bars" aria-hidden="true"></i>
                                [主要贡献]<br />
                                <p>
                                    &emsp;&emsp;1、m端重构成单页<br />
                                </p>
                                <p> &emsp;&emsp;<a target="_blank" href="https://m.newchic.com/">https://m.newchic.com/</a></p>
                                <p>
                                    &emsp;&emsp;2、pc端用webpack重构<br />
                                </p>
                                <p> &emsp;&emsp;<a target="_blank" href="https://www.newchic.com/">https://www.newchic.com/</a></p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            



        </section>
    </article>


    <script src="/resume-master/assets/js/index.js" type="text/javascript"></script>

</body>

</html>
